@charset "UTF-8";
@media only screen and (min-width: 1537px) {
	.SalesArea{
        height: 90vh;
    }
	.SalesMainArea {
	    height: 19%;
	}
	.InputArea {
	    border: 3px solid rgb(111, 167, 235);
	    border-radius: 20px;
	    width: 80%;
	    height: 98%;
	    margin: 1% 10%;
	}
	.InputArea label{
		font-weight: 900;
		display: inline-block;
    	width: 8em; /* 모든 레이블의 고정 너비 */
    	text-align: right; /* 텍스트를 오른쪽에 맞춤 */
    	letter-spacing: 0.1em; /* 문자 간격 조정 */
	}
	.Sales_UserInfo {
    	margin: 1% 0% 0.1% 10%;
	}
	.Sales_UserInfo input{
		text-align: center;
		width: 150px;
	}
	.Sales_UserInfo label#User{
		margin-left: 60%;
	}
	.Sales_BizInfo {
    	margin: 0.1% 0% 0.1% 10%;
	}
	.Sales_BizInfo input{
		text-align: center;
		width: 151px;
	}
	.Sales_BizInfo label#InputDate{
		margin-left: 51.1%;
	} 
	.Sales_PlanInfo{
		margin: 0.1% 0% 0.1% 10%;
	}
	.Sales_PlanInfo select{
		width: 157px;
		text-align: center;
	}
	
	.Sales_DocInfo{
		margin: 0.1% 0% 0.1% 10%;
	}
	.Sales_DocInfo input{
		width: 150px;
		text-align: center;
	}
	.Sales_DocInfo label#CountUnit{
		margin-left: 51.06%;
	}
	.Sales_DocInfo select{
		width: 158px;
		text-align: center;
	}
	
	.Sales_PlanPeriod{
		margin: 0.1% 0% 0.1% 10%;
	}
	.Sales_PlanPeriod select#PeriodStart{
		width: 157px;
		text-align: left;
	}
	.Sales_PlanPeriod input#PeriodEnd{
		width: 134px;
		text-align: left;
	}
	.Sales_DealComInfo{
		margin: 0.1% 0% 1% 10%;
	}
	.Sales_DealComInfo input{
		width: 150px;
		text-align: center;
	}
	/* ---------------- */
	.ButtonArea {
	    display: flex;
	    flex-direction: row;
	    margin: 1% 0% 0% 80%;
	}
	.ButtonArea button {
	    width: 100px;
	    text-align: center;
	    padding: 5px;
	    background-color: #1F4E79;
	    color: white;
	    border: 1px solid #1F4E79;
	    margin-right: 20px;
	    border-radius: 5px;
	}
	.ButtonArea button:hover {
	    background: #0068ff;
	    color: #fff;
	    border: 1px solid #0068ff;
	}
	.ButtonArea button:active {
	    background: #0068ff;
	    color: #fff;
	    border: 1px solid #0068ff;
	}
	
	/* ---------------- */
	.SalesSubArea{
		height: 100vh;
	}
	.SalesSubArea {
        margin: 1.4% 8.5%;
        height: 70%;
        border: 3px solid rgb(111, 167, 235);
        width: 84%;
    }
    .SalesPlanTable{
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
    }
    .SalesPlanTable_Head{
	    display: table;
	    width: 100%;
    }
    .SalesPlanTable .SalesPlanTable_Head th{
	    background-color: rgb(111,167,235);
	    position: sticky;
	    top:0;
	    color: white;
	    text-align: center;
	    z-index: 10;
	    padding: 8px;
	    border: 1px solid white;
	    width: 120px;
    }
    .SalesPlanTable_Body{
    	table-layout: fixed;
    	display: block;
        width: 100.28%;
        height: 765px;
        max-height: 100%;
        overflow-y: auto;
        overflow-x: auto;
    }
    .SalesPlanTable .SalesPlanTable_Body td {
	    padding: 8px;
	    border: 1px solid #ddd;
	    width: 125.1px;
	    height: 10px;
	    font-weight: bold;
	}
	.SalesPlanTable_Body > tr > td:nth-child(2){
	text-align: left;
	}
	.SalesPlanTable_Body > tr > td:nth-child(2) > select{
	text-align: left;
	width: 125px;
	border-width: 0;
	}
	.SalesPlanTable_Body > tr > td:nth-child(3){
	width: 126px;
	text-align: left;
	}
	.SalesPlanTable_Body > tr > td:nth-child(4){
	width: 127px;
	text-align: center;
	}
	.SalesPlanTable_Body > tr > td:nth-child(n+5) > input{
	text-align: right;
	font-weight: bold;
	}
	.SalesPlanTable_Body > tr > td > input:focus{
	outline: none;
	}
	.SalesPlanTable_Body > tr > td > input{
	border-width: 0;
	width: 120px;
	}
	.SalesPlanTable_Body::-webkit-scrollbar {
    width: 5px;
  	}
  	.SalesPlanTable_Body::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
  	}
  	.SalesPlanTable_Body::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 1px;
    box-shadow: inset 0px 0px 5px white;
  	}
  	/* ------------------------------------------ */
.SalesSubArea_Month{
		height: 100vh;
	}
	.SalesSubArea_Month {
        margin: 1.4% 0.4%;
        height: 70%;
        border: 3px solid rgb(111, 167, 235);
        width: 99%;
    }
    .SalesPlanTable_Month{
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        overflow: scroll;
    }
    .SalesPlanTable_Head_Month{
	    display: table;
	    width: 100%;
    }
    .SalesPlanTable_Month .SalesPlanTable_Head_Month th{
	    background-color: rgb(111,167,235);
	    position: sticky;
	    top:0;
	    color: white;
	    text-align: center;
	    z-index: 10;
	    padding: 8px;
	    border: 1px solid white;
	    width: 120px;
	    font-size: smaller;
    }
    .SalesPlanTable_Body_Month{
    	table-layout: fixed;
    	display: block;
        width: 100.28%;
        height: 765px;
        max-height: 100%;
        overflow-y: auto;
        overflow-x: auto;
    }
    .SalesPlanTable_Month .SalesPlanTable_Body_Month td {
	    padding: 8px;
	    border: 1px solid #ddd;
	    width: 125.1px;
	    height: 10px;
	    font-weight: bold;
	}
	.SalesPlanTable_Body_Month > tr > td:nth-child(2){
	text-align: left;
	}
	.SalesPlanTable_Body_Month > tr > td:nth-child(2) > select{
	text-align: left;
	width: 125px;
	border-width: 0;
	}
	.SalesPlanTable_Body_Month > tr > td:nth-child(3){
	width: 126px;
	text-align: left;
	}
	.SalesPlanTable_Body_Month > tr > td:nth-child(4){
	width: 127px;
	text-align: center;
	}
	.SalesPlanTable_Body_Month > tr > td:nth-child(n+5) > input{
	text-align: right;
	font-weight: bold;
	}
	.SalesPlanTable_Body_Month > tr > td > input:focus{
	outline: none;
	}
	.SalesPlanTable_Body_Month > tr > td > input{
	border-width: 0;
	width: 120px;
	}
	.SalesPlanTable_Body_Month::-webkit-scrollbar {
    width: 5px;
  	}
  	.SalesPlanTable_Body_Month::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
  	}
  	.SalesPlanTable_Body_Month::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 1px;
    box-shadow: inset 0px 0px 5px white;
  	}

}