@charset "UTF-8";
@media only screen and (max-width: 1536px) {
	.Hall >.SubHall > table.InfoTable tbody{
	table-layout: fixed;
	display: block;
	width: 100.4%;
	height: 100%;
	max-height: 96%;
	overflow-y: auto;
	}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty){
	padding: 8px 5px;
	}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(1){width: 56px;}	 
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(2){width: 57px;}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(3){width: 55px;}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(4){width: 54px;}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(5){width: 55px;}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(6){width: 56px;}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(7){width: 55px;}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(8){width: 55px;}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(9){width: 55px;}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(10){width: 55px;}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(11){width: 55px;}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(12){width: 63px;}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(13){width: 68px;}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(14){width: 67px;}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(15){width: 74px;}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(16){width: 61px;}
    
    .Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(1){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(2){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(3){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(4){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(5){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(6){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(7){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(8){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(9){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(10){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(11){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(12){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(13){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(14){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(15){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(16){width: 40px;}
}

@media only screen and (min-width: 2560px) {
	.Hall >.SubHall > table.InfoTable tbody{
	table-layout: fixed;
	display: block;
	width: 100.4%;
	height: 100%;
	max-height: 91%;
	overflow-y: auto;
	}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty){
	padding: 8px 5px;
	}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(1){width: 50px}	 
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(2){width: 50px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(3){width: 50px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(4){width: 50px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(5){width: 50px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(6){width: 50px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(7){width: 50px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(8){width: 50px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(9){width: 50px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(10){width: 50px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(11){width: 50px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(12){width: 50px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(13){width: 50px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(14){width: 50px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(15){width: 50px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(16){width: 50px}
    
    .Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(1){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(2){width: 50px;font-size: 9.5px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(3){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(4){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(5){width: 50px;font-size: 8px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(6){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(7){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(8){width: 50px;font-size: 9px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(9){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(10){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(11){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(12){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(13){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(14){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(15){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(16){width: 50px;}
	
	footer > div:nth-child(1){width: 95px;height: 34px;}
	footer > div:nth-child(2){width: 97px;height: 34px;}
	footer > div:nth-child(3){width: 96px;height: 34px;}
	footer > div:nth-child(4){width: 97px;height: 34px;}
	footer > div:nth-child(5){width: 95px;height: 34px;}
	footer > div:nth-child(6){width: 96px;height: 34px;}
	footer > div:nth-child(7){width: 95px;height: 34px;}
	footer > div:nth-child(8){width: 96px;height: 34px;}
	footer > div:nth-child(9){width: 95px;height: 34px;}
	footer > div:nth-child(10){width: 98px;height: 34px;}
  	footer > div:nth-child(11){
  	width: 104.5px;
  	height: 34px;
  	text-align: center;
  	font-weight: bold;
  	font-size: x-large;
  	padding-top: 2px;
  	}
}