@charset "UTF-8";
@media only screen and (min-width: 1537px) {
	.Hall >.SubHall > table.InfoTable tbody{
	table-layout: fixed;
	display: block;
	width: 100.3%;
	height: 116%;
	max-height: 98.9%;
	overflow-y: auto;
	}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty){
	padding: 8px 5px;
	}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(1){width:138px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(2){width:140px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(3){width:137px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(4){width:139px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(5){width:138px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(6){width:139px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(7){width:139px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(8){width:81px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(9){width:81px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(10){width:81px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(11){width:83px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(12){width:81px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(13){width:81px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(14){width:81px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(15){width:82px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(16){width:83px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(16){width:82px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(17){width:81px}
	
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(1){width: 133px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(2){width: 135px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(3){width: 133px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(4){width: 133px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(5){width: 134px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(6){width: 134px;font-size: 8.5px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(7){width: 133px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(8){width: 80px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(9){width: 79px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(10){width: 80px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(11){width: 79px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(12){width: 78px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(13){width: 79px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(14){width: 80px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(15){width: 80px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(16){width: 79px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(17){width: 80px;}
}