@charset "UTF-8";
@media only screen and (min-width: 1537px) {
	.Hall >.SubHall > table.InfoTable tbody{
	table-layout: fixed;
	display: block;
	width: 100.3%;
	height: 116%;
	max-height: 101.8%;
	overflow-y: auto;
	}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(1){width: 103px}	 
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(2){width: 103px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(3){width: 103px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(4){width: 104px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(5){width: 105px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(6){width: 103px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(7){width: 104px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(8){width: 102px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(9){width: 104px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(10){width: 103px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(11){width: 105px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(12){width: 132px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(13){width: 132px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(14){width: 132px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(15){width: 132px}
    .Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(16){width: 130px}
}