@charset "UTF-8";
@media only screen and (max-width: 1536px) {
	.Hall >.SubHall > table.InfoTable tbody{
	table-layout: fixed;
	display: block;
	width: 100.5%;
	height: 100%;
	max-height: 94%;
	overflow-y: auto;
	}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty){
	padding: 8px 5px;
	}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(1){width: 80px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(2){width: 82px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(3){width: 82px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(4){width: 81px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(5){width: 81px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(6){width: 81px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(7){width: 48px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(8){width: 46px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(9){width: 47px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(10){width: 47px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(11){width: 44px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(12){width: 49px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(13){width: 47px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(14){width: 45px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(15){width: 48px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(16){width: 46px;}
	
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(1){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(2){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(3){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(4){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(5){width: 50px;font-size: 9px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(6){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(7){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(8){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(9){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(10){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(11){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(12){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(13){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(14){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(15){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(16){width: 50px;}
	
	footer > div:nth-child(1){width: 56px;/* height: 34px; */}
	footer > div:nth-child(2){width: 58px;/* height: 34px; */}
	footer > div:nth-child(3){width: 55px;/* height: 34px; */}
	footer > div:nth-child(4){width: 58px;/* height: 34px; */}
	footer > div:nth-child(5){width: 58px;/* height: 34px; */}
	footer > div:nth-child(6){width: 54px;/* height: 34px; */}
	footer > div:nth-child(7){width: 56px;/* height: 34px; */}
	footer > div:nth-child(8){width: 58px;/* height: 34px; */}
	footer > div:nth-child(9){width: 56px;/* height: 34px; */}
	footer > div:nth-child(10){width: 60px;/* height: 34px; */}
  	footer > div:nth-child(11){
  	width: 104.5px;
  	/* height: 34px; */
  	text-align: center;
  	font-weight: bold;
  	font-size: small;
  	padding-top: 2px;
  	}
}

@media only screen and (min-width: 2560px) {
	.Hall >.SubHall > table.InfoTable tbody{
	table-layout: fixed;
	display: block;
	width: 100.3%;
	height: 116%;
	max-height: 98.9%;
	overflow-y: auto;
	}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty){
	padding: 8px 5px;
	}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(1){width:150px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(2){width:150px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(3){width:152px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(4){width:150px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(5){width:153px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(6){width:153px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(7){width:90px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(8){width:90px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(9){width:90px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(10){width:90px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(11){width:90px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(12){width:90px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(13){width:90px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(14){width:90px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(15){width:90px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(16){width:90px}
	
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(1){width: 146px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(2){width: 145px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(3){width: 147px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(4){width: 144px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(5){width: 146px;font-size: 9px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(6){width: 145px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(7){width: 87px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(8){width: 86px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(9){width: 87px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(10){width: 86px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(11){width: 86px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(12){width: 88px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(13){width: 87px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(14){width: 86px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(15){width: 87px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(16){width: 85px;}
	
	footer > div:nth-child(1){width: 104px;height: 34px;}
	footer > div:nth-child(2){width: 104px;height: 34px;}
	footer > div:nth-child(3){width: 104px;height: 34px;}
	footer > div:nth-child(4){width: 106px;height: 34px;}
	footer > div:nth-child(5){width: 104px;height: 34px;}
	footer > div:nth-child(6){width: 104px;height: 34px;}
	footer > div:nth-child(7){width: 104px;height: 34px;}
	footer > div:nth-child(8){width: 105px;height: 34px;}
	footer > div:nth-child(9){width: 104px;height: 34px;}
	footer > div:nth-child(10){width: 105px;height: 34px;}
  	footer > div:nth-child(11){
  	width: 104.5px;
  	height: 34px;
  	text-align: center;
  	font-weight: bold;
  	font-size: x-large;
  	padding-top: 2px;
  	}
}