@charset "UTF-8";
@media only screen and (max-width: 1536px) {
	.Hall >.SubHall > table.InfoTable tbody{
	table-layout: fixed;
	display: block;
	width: 100.3%;
	height: 100%;
	max-height: 94%;
	overflow-y: auto;
	}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty){
	padding: 8px 5px;
	}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(1){width: 73px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(2){width: 74px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(3){width: 74px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(4){width: 74px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(5){width: 74px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(6){width: 73px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(7){width: 75px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(8){width: 44px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(9){width:40px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(10){width: 44px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(11){width: 45px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(12){width: 43px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(13){width: 41px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(14){width: 42px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(15){width: 41px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(16){width:40px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(16){width: 44px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(17){width:40px}
	
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(1){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(2){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(3){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(4){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(5){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(6){width: 40px;font-size: 8.5px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(7){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(8){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(9){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(10){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(11){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(12){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(13){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(14){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(15){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(16){width: 40px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(17){width: 40px;}
	
	footer > div:nth-child(1){width: 51px;}
	footer > div:nth-child(2){width: 55px;}
	footer > div:nth-child(3){width: 49px;}
	footer > div:nth-child(4){width: 53px;}
	footer > div:nth-child(5){width: 51px;}
	footer > div:nth-child(6){width: 54px;}
	footer > div:nth-child(7){width: 56px;}
	footer > div:nth-child(8){width: 54px;}
	footer > div:nth-child(9){width: 51px;}
	footer > div:nth-child(10){width: 53px;}
  	footer > div:nth-child(11){
  	width: 104.5px;
  	text-align: center;
  	font-weight: bold;
  	font-size: small;
  	padding-top: 2px;
  	}
}

@media only screen and (min-width: 2560px) {
	.Hall >.SubHall > table.InfoTable tbody{
	table-layout: fixed;
	display: block;
	width: 100.3%;
	height: 116%;
	max-height: 98.9%;
	overflow-y: auto;
	}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty){
	padding: 8px 5px;
	}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(1){width:138px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(2){width:140px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(3){width:137px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(4){width:139px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(5){width:138px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(6){width:139px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(7){width:139px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(8){width:81px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(9){width:81px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(10){width:81px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(11){width:83px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(12){width:81px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(13){width:81px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(14){width:81px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(15){width:82px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(16){width:83px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(16){width:82px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(17){width:81px}
	
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(1){width: 133px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(2){width: 135px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(3){width: 133px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(4){width: 133px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(5){width: 134px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(6){width: 134px;font-size: 8.5px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(7){width: 133px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(8){width: 80px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(9){width: 79px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(10){width: 80px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(11){width: 79px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(12){width: 78px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(13){width: 79px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(14){width: 80px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(15){width: 80px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(16){width: 79px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(17){width: 80px;}
	
	footer > div:nth-child(1){width: 104px;}
	footer > div:nth-child(2){width: 104px;}
	footer > div:nth-child(3){width: 104px;}
	footer > div:nth-child(4){width: 106px;}
	footer > div:nth-child(5){width: 104px;}
	footer > div:nth-child(6){width: 104px;}
	footer > div:nth-child(7){width: 104px;}
	footer > div:nth-child(8){width: 105px;}
	footer > div:nth-child(9){width: 104px;}
	footer > div:nth-child(10){width: 105px;}
  	footer > div:nth-child(11){
  	width: 104.5px;
  	text-align: center;
  	font-weight: bold;
  	font-size: x-large;
  	padding-top: 2px;
  	}
}