@charset "UTF-8";
@media only screen and (max-width: 1536px) {
	.Hall >.SubHall > table.InfoTable tbody{
	table-layout: fixed;
	display: block;
	width: 100.4%;
	height: 100%;
	max-height: 94.6%;
	overflow-y: auto;
	overflow-x: auto;
	}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty){
	padding: 3px 3px;
	}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(1){width: 123px;} 
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(2){width: 127px;} 
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(3){width: 124px;} 
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(4){width: 125px;} 
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(5){width: 125px;} 
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(6){width: 85px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(7){width: 82px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(8){width: 84px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(9){width: 83px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(10){width: 85px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(11){width: 84px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(12){width: 83px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(13){width: 83px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(14){width: 85px;}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(15){width: 76px;}
	
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(1){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(2){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(3){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(4){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(5){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(6){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(7){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(8){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(9){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(10){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(11){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(12){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(13){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(14){width: 50px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(15){width: 50px;}
}
@media only screen and (min-width: 2560px) {
	.Hall >.SubHall > table.InfoTable tbody{
	table-layout: fixed;
	display: block;
	width: 100.3%;
	height: 116%;
	max-height: 98.9%;
	overflow-y: auto;
	}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty){
	padding: 8px 5px;
	}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(1){width: 166px} 
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(2){width: 166px} 
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(3){width: 166px} 
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(4){width: 166px} 
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(5){width: 166px} 
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(6){width: 99px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(7){width: 99px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(8){width: 99px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(9){width: 99px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(10){width: 99px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(11){width: 99px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(12){width: 99px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(13){width: 99px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(14){width: 99px}
	.Hall > .SubHall > table.InfoTable tbody td:empty:nth-child(15){width: 99px}
	
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(1){width: 160px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(2){width: 160px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(3){width: 159px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(4){width: 159px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(5){width: 160px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(6){width: 94px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(7){width: 97px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(8){width: 96px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(9){width: 94px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(10){width: 95px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(11){width: 95px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(12){width: 96px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(13){width: 94px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(14){width: 96px;}
	.Hall > .SubHall > table.InfoTable tbody td:not(:empty):nth-child(15){width: 94px;}
}