@charset "UTF-8";
@media only screen and (min-width: 1537px) {
	.Hall {
    display: flex;
    flex-direction: row;
    height: 85vh;
    width: 100%;
    margin-top: 1%;
	}
	.MainHall {
    border: 1px solid black;
    width: 25%;
 }
	.SubHall {
    border: 1px solid black;
    margin-left: 2%;
    width: 100%;
	}
	.Title {
	background: #260FB1;
	color: white;
	text-align: center;
	font-size: x-large;
	padding: 5px;
	letter-spacing: 1.5em;
    }
    .MainHall > .Category > button {
	width: 21.5%;
	background: #F28C28;
	color: #FFFFFF;
	margin: 3px 0px 0px 10px;
	padding: 5px;
	font-weight: bolder;
	border: 0px;
	border-radius: 5px;
    }
	.MainHall > .MainHallArray > .Main-Colume {
	display: flex;
	flex-direction: row;
	margin: 20px 0px 0px 25px;
	width: 100%;
	} 
	.MainHall > .MainHallArray > .Main-Colume label {
	font-weight: 900;
	display: inline-block;
	width: 14em;
	text-align: right;
	letter-spacing: 0.1em;
	}   
    .MainHall > .MainHallArray > .Main-Colume input {
	margin-left: 10px;
	width: 200px;
	text-align: center;
    }
    .MainHall > .BtnArea > button {
	width: 24%;
	height: 5%;
	text-align: center;
	background-color: #002060;
	color: white;
	border: 1px solid #1F4E79;
	margin: 25% 0px 0px 35%;
	border-radius: 10px;
	font-size: 25px;
	}
	.MainHall > .BtnArea > button:hover {
	background: #0068ff;
	color: #fff;
	border: 1px solid #0068ff;
	}
	.MainHall > .BtnArea > button:active {
	background: #0068ff;
	color: #fff;
	border: 1px solid #0068ff;
	}
	.MainHallArray {
    height: 40%;
	}
	.MainHallArray > div:nth-child(1) > input{
	background: #F2F2F2 !important; 
	}
	.Hall >.SubHall > table.InfoTable{
	border-collapse: collapse;
	width: 100%;
	height: 92.1%;
	table-layout: fixed;
	overflow: scroll;
    }
    .Hall >.SubHall > table.InfoTable thead{
    display: table;
    width: 100%;
    }
   	.Hall >.SubHall > table.InfoTable tbody{
	table-layout: fixed;
	display: block;
	width: 100.3%;
	height: 116%;
	max-height: 101.8%;
	overflow-y: auto;
	}
	.Hall >.SubHall > table.InfoTable tbody td{
	padding: 8px 5.5px;
	border: 1px solid #ddd;
	width: 131px;
	height: 10px;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
    }
	
    .Hall > .SubHall > table.InfoTable thead > tr > th:not(:nth-last-child(-n+5)){
	background-color: rgb(111, 167, 235);
	position: sticky;
	top: 0;
	color: white;
	text-align: center;
	z-index: 10;
	padding: 8px;
	border: 1px solid white;
	width: 80px;
	font-size: 11px;
    }
    .Hall > .SubHall > table.InfoTable thead > tr > th:nth-last-child(-n+5){
	background-color: rgb(111, 167, 235);
	position: sticky;
	top: 0;
	color: white;
	text-align: center;
	z-index: 10;
	padding: 0px;
	border: 1px solid white;
	width: 120px;
	font-size: 11px;
    }
    .Hall >.SubHall > table.InfoTable thead > tr > th > div:nth-child(1){
	text-align: center;
	border: 1px solid;
	padding: 8px;
    }
    .Hall >.SubHall > table.InfoTable thead > tr > th > div:nth-child(2){
	display: flex; 
	justify-content: center;
    }
    .Hall >.SubHall > table.InfoTable thead > tr > th > div:nth-child(2) > span{
	flex: 1;
    text-align: center;
    border: 1px solid white;
    box-sizing: border-box;
    padding: 5px;
    }
    .Hall >.SubHall > table.InfoTable tbody::-webkit-scrollbar {
    width: 5px;
  	}
  	.Hall >.SubHall > table.InfoTable tbody::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
  	}
  	.Hall >.SubHall > table.InfoTable tbody::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 1px;
    box-shadow: inset 0px 0px 5px white;
  	}
}