@charset "UTF-8";
	.PopUp-board {
	padding: 20px;
	width: 80%;
	max-height: 400px;
	position: relative;
	}
	
	.PopUp-board table {
		width: 100%;
		border-collapse: collapse;
	}
	
	.PopUp-board th, .PopUp-board td {
	 border: 1px solid #ccc;
	 padding: 10px;
	 text-align: center;
	 }
	
	.PopUp-board th {
	background-color: #f2f2f2;
	position: sticky;
	top: 0;
	z-index: 1;
	}
	
	.PopUp-board td a {
	text-decoration: none;
	color: #007bff;
	}
	
	.PopUp-board td a:hover {
	text-decoration: underline;
	}
	/* 영업계획 중 매출계획(년간) */
	.Sales_PlanVer_board,
	.Sales_TradeCom_board {
    border: 1px solid rgb(111, 167, 235);
    max-height: 80vh; /* 최대 높이 제한 */
    width: 70vh;
    overflow-y: auto; /* 세로 스크롤 생성 */
	}
	.PlanVerTable,
	.TradeComTable {
	border-collapse: collapse;
	width: 100%;
    table-layout: fixed;
	}
	.PlanVerTable thead,
	.TradeComTable thead {
    	background: rgb(111, 167, 235);
	}
	.PlanVerTable thead > tr > th,
	.TradeComTable thead > tr > th{
    	color: white;
    	padding: 8px;
    	border: 1px solid white;
	}
	.PlanVerTable tbody > tr,
	.TradeComTable tbody > tr {
    	border: 1px solid white;
    	text-align: center;
	}
	.PlanVerTable tbody > tr > td,
	.TradeComTable tbody > tr > td{
    	background: #F5F5F5;
	    color: #22577A;
	    border: 1px solid white;
	    text-align: center;
	    padding: 8px;
	    font-weight: bold;
	}
	/* 영업계획 중 매출계획(년간) */
	.Total_board{
    border: 1px solid rgb(111, 167, 235);
    max-height: 80vh; /* 최대 높이 제한 */
    width: 70vh;
    overflow-y: scroll; /* 세로 스크롤 생성 */
    table-layout: fixed;
    border-collapse: collapse;
	}
	.TotalTable {
	border-collapse: collapse;
	width: 100%;
    table-layout: fixed;
	}
	
	.Total_board.SpecialSize{
    border: 1px solid rgb(111, 167, 235);
    max-height: 80vh; /* 최대 높이 제한 */
    width: 110vh;
    overflow: scroll; /* 세로 스크롤 생성 */
    table-layout: fixed;
	}
	.TotalTable.SpecialSize {
	border-collapse: collapse;
	width: 100%;
    table-layout: fixed;
	}
	
/* 	.TotalTable thead{ */
    	
/* 	} */
	.TotalTable thead > tr > th{
	background: rgb(111, 167, 235);
    	color: white;
    	padding: 8px;
    	border: 1px solid white;
    	position: sticky;
        top: 0;
        z-index: 1;
	}
	.TotalTable tbody > tr{
    	border: 1px solid white;
    	text-align: center;
	}
	.TotalTable tbody > tr > td{
    	background: #F5F5F5;
	    color: #22577A;
	    border: 1px solid white;
	    text-align: center;
	    padding: 8px;
	    font-weight: bold;
	}
	
	