@charset "UTF-8";
body,html{
	height: 100%;
  	margin: 0;
  	padding: 0;
}
footer {
    background: #002060;
    height: 254px;
    margin-top: 9.95%;
    border-top: 1px solid rgb(111, 167, 235);
}
footer > img#logo {
    width: 250px;
    padding: 10px 0px 0px 10px;
}
.info {
	text-align: right;
}
.nation-code{
	width: 103px;
	text-align: center;
}
.money-code{
	width: 103px;
	text-align: center;
}
.yn{
	width: 103px;
	text-align: center;	
}
#FSRL{
	width: 103px;
	text-align: center;		
}
.language-code{
	text-align: center;		
}

.Search-Result {
    width: 105%;
    display: flex;
    justify-content: center;
    align-items: center;
}
table.ComInfoTable {
    border-collapse: collapse;
}
.ComInfoDetail .ComInfoTable th {
    background-color: #6fa7eb;
    color: white;
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 5px;
    text-align: center;
    font-size: small;
    font-weight: bold;
    border: 1px solid white;
}
.ComInfoDetail .ComInfoTable td {
    padding: 5px;
    text-align: center;
    border: 1px solid #6fa7eb;
    font-size: small;
    font-weight: bold;
}
.ComInfoDetail {
    margin-top: 20px;
}


/* main-info START*/
.main-info{
	margin-top: 50px;
	width: 80%;
	margin-right: 55px;
}
.bag-main-info{
    width: 80%; /* 가운데 정렬을 위해 전체 너비의 절반으로 설정합니다 */
    margin-top: 50px;
    margin-right: 230px;
}
.tax-main-info{
    width: 80%; /* 가운데 정렬을 위해 전체 너비의 절반으로 설정합니다 */
    margin-top: 50px;
    margin-right: 60px;
}
.ba-main-info {
    width: 40%; /* 가운데 정렬을 위해 전체 너비의 절반으로 설정합니다 */
    margin-top: 50px;
    margin-right: 400px;
}
.ccg-main-info {
    width: 40%; /* 가운데 정렬을 위해 전체 너비의 절반으로 설정합니다 */
    margin-top: 50px;
    margin-right: 150px;
}
.cc-main-info {
    width: 40%; /* 가운데 정렬을 위해 전체 너비의 절반으로 설정합니다 */
    margin-top: 50px;
    margin-right: 150px;
}
.plant-main-info {
    width: 40%; /* 가운데 정렬을 위해 전체 너비의 절반으로 설정합니다 */
    margin-top: 50px;
    margin-right: 200px;
}
.emp-main-info {
    width: 40%; /* 가운데 정렬을 위해 전체 너비의 절반으로 설정합니다 */
    margin-top: 50px;
    margin-right: 230px;
}
.storage-main-info {
    width: 40%; /* 가운데 정렬을 위해 전체 너비의 절반으로 설정합니다 */
    margin-top: 50px;
    margin-right: -45px;
}



@media only screen and (max-width: 1537px){/* 화면 너비가 1536px 이하인 경우에 적용되는 CSS 미디어 쿼리를 지정 */
    .content-wrapper {
    display: flex; /* Flex 컨테이너 설정 */
	}
	.content-wrapper1{
	flex-direction: column;
	}
    #SideMenu {
	    border: 1px solid rgb(255,228,0); /* 기존의 테두리 스타일 유지 */
	    width: 200px; /* 폭을 100px로 설정 */
	    margin-right: 30px;
	    border-radius: 20px;
    }
    .sub-content-container{
    flex: 1;
    }
	/* 발주 페이지 CSS */
	
	.table-container table td.spaceCell-b{
	width: 490px !important;
	}
	
	.table-container table tr.spacer-row{
		height: 5px;
	}
	
	.table-container table td.spaceCell-50{
		width: 0px !important;
	}
	.table-container table td.spaceCell-90{
	width: 0px !important;
	}
	.table-container table td.spaceCell-ss{
	width: 60px !important;
	}
	
	.table-container table td.spaceCell-sss{
	width: 5px !important;
	}
	
	.container {
	width: 90%;
    position: relative;
	}
	
	.container img {
	    position: absolute;
	    margin-bottom: 50px; /* 이미지들의 상단 여백 */
	    margin-left: 55%;
	    display: inline-block;
	}
	
	#btn{
	width: 200px;
	height: 50px;
	border-radius:5px;
	font-size:18px;
	transition: all 0.3s ease;
	}
	#btn:hover{
		background-color: gray;
		color: white;;
	}
	
	.input-btn {
	    margin-bottom: 50px;
	    margin-left: 70%;
	    display: inline-block;
	    vertical-align: middle;
	}
	.order-ready .table-container {
    overflow-y: auto;
    height: 550px;
	}

	.order-ready .WirteForm {
    border-collapse: collapse;
    width: 98%; /* 수정: 테이블 너비를 100%로 설정 */
    font-size: 12px;
    margin-left: 10px;
	}

	.order-ready .WirteForm th,
	.order-ready .WirteForm td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
	}
	.order-ready .WirteForm th {
    background-color: rgb(111, 167, 235);
    position: sticky;
    top: 0;
    color: white;
    text-align: center;
    z-index: 2; /* 헤더가 다른 요소 위에 오도록 설정, 추가 */
	}

	.order-ready .WirteForm .datasize {
    text-align: center;
	}
	/* 사이드 메뉴 시작 */
	#SideMenu .plantCode,
	#SideMenu .VendorCode {
    text-align: center;
    width: 60px;
    margin-left: 20px;
	}

	#SideMenu .plantDes,
	#SideMenu .VendorDes,
	#SideMenu .ordType,
	#SideMenu .OrderNum,
	#SideMenu .UserID,
	#SideMenu .date {
	    text-align: center;
	    background-color: #ddd;
	    width: 150px;
	    margin-left: 20px;
	}
	
	#SideMenu li {
	    font-weight: bold;
	    list-style: circle;
	} 
	/* 사이드 메뉴 끝 */
	.orderedDate .table-container {
    overflow-y: auto;
    height: 250px;
    border: 1px solid #ffdddd;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: 50px;
	}
	.orderedDate .WrittenForm th {
    background-color: #ffdddd;
    position: sticky;
    top: 0;
    color: white;
    text-align: center;
    z-index: 2; /* 헤더가 다른 요소 위에 오도록 설정, 추가 */
	}
	.orderedDate .WrittenForm {
    border-collapse: collapse;
    width: 100%; /* 수정: 테이블 너비를 100%로 설정 */
    font-size: 10px;
 	}
 	.orderedDate .WrittenForm th,
	.orderedDate .WrittenForm td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
 	}
}

/* 발주 페이지 CSS 수정 중 끝*/
@media only screen and (min-width: 1536px) {
	.input-main-info {
    border: 1px solid #000;
    margin-top: 50px;
    padding-left: 10px; 
    padding-top: 30px;
    padding-bottom: 30px;
    width: 80%;
	}

}
/*main-info END*/
/*sub-info START*/
@media only screen and (min-width: 1536px) {
	.sub-info {
	    border: 1px solid #000;
	    margin-top: 50px;
	    padding-left: 10px; 
	    padding-top: 30px;
	    padding-bottom: 30px;
	    width: 80%;
	}
	.bag-sub-info {
	    border: 1px solid #000;
	    margin-top: 50px;
	    padding-left: 10px; 
	    padding-top: 30px;
	    padding-bottom: 30px;
	    width: 80%;
	}
	.tax-sub-info {
	    border: 1px solid #000;
	    margin-top: 50px;
	    padding-left: 10px; 
	    padding-top: 30px;
	    padding-bottom: 30px;
	    width: 80%;
	}
	.ccg-sub-info {
	    border: 1px solid #000;
	    margin-top: 50px;
	    padding-left: 10px; 
	    padding-top: 30px;
	    padding-bottom: 30px;
	    width: 80%;
	}
	.cc-sub-info {
	    border: 1px solid #000;
	    margin-top: 50px;
	    padding-left: 10px; 
	    padding-top: 30px;
	    padding-bottom: 30px;
	    width: 80%;
	}
	.plant-sub-info {
	    border: 1px solid #000;
	    margin-top: 50px;
	    padding-left: 10px; 
	    padding-top: 30px;
	    padding-bottom: 30px;
	    width: 80%;
	}
	.emp-sub-info {
	    border: 1px solid #000;
	    margin-top: 50px;
	    padding-left: 10px; 
	    padding-top: 30px;
	    padding-bottom: 30px;
	    width: 80%;
	}
	.storage-sub-info {
	    border: 1px solid #000;
	    margin-top: 50px;
	    padding-left: 10px; 
	    padding-top: 30px;
	    padding-bottom: 30px;
	    width: 80%;
	}
	.ven-sub-info {
	    border: 1px solid #000;
	    margin-top: 50px;
	    padding-left: 10px; 
	    padding-top: 30px;
	    padding-bottom: 30px;
	    width: 80%;
	}
}



/* Company START */
.sub-info .table-container #NationCode{
	width: 100px;
	text-align: center;
}
.sub-info .table-container #NationDes{
	width: 200px;
	text-align: center;
	font-size: 12px;
}
/* Company END */

/* 여기에 다 정리한다 */
@media only screen and (min-width: 1536px) {
	.sub-info .AddrCode,
	.emp-sub-info .AddrCode,
	.plant-sub-info .AddrCode,
	.ba-sub-info .AddrCode,
	.cc-sub-info .AddrCode,
	.tax-sub-info .AddrCode{
	    width: 105px;
		text-align: center;
	}
	.sub-info .Addr, .sub-info .AddrDetail, .sub-info .AddrRefer,
	.emp-sub-info .Addr, .emp-sub-info .AddrDetail, .emp-sub-info .AddrRefer,
	.plant-sub-info .Addr, .plant-sub-info .AddrDetail, .plant-sub-info .AddrRefer,
	.ba-sub-info .Addr, .ba-sub-info .AddrDetail, .ba-sub-info .AddrRefer,
	.cc-sub-info .Addr, .cc-sub-info .AddrDetail, .cc-sub-info .AddrRefer,
	.tax-sub-info .Addr, .tax-sub-info .AddrDetail, .tax-sub-info .AddrRefer {
	    width: 99%;
	}
	.bag-sub-info .table-container .Upper-Biz-Name{
		text-align: center;
	}
	.bag-sub-info .table-container .ComCode,
	.bag-sub-info .table-container .Upper-Biz-level{
		text-align: center;
		width: 95px;
	}	
	.ba-sub-info {
	    border: 1px solid #000;
	    margin-top: 50px;
	    padding-left: 10px; 
	    padding-top: 30px;
	    padding-bottom: 30px;
	    width: 80%;
	}
	.ba-sub-info .table-container .TA-code,
	.ba-sub-info .table-container .BAG-code,
	.ba-sub-info .table-container .ComCode{
		text-align: center;
		width: 105px;
	}
	.ba-sub-info .table-container .Nationality-Code{
		text-align: center;
		width: 103px;
	}
	.tax-sub-info .table-container .Nationality-Code,
	.tax-sub-info .table-container .ComCode{
		text-align: center;
		width: 103px;
	}
	.cc-sub-info .table-container .Biz_Code,
	.cc-sub-info .table-container .ccc,
	.cc-sub-info .table-container .cct,
	.cc-sub-info .table-container .ComCode,
	.cc-sub-info .table-container .CCG_Des{
		text-align: center;
		width: 103px;
	}
	.cc-sub-info .table-container .rp{
		text-align: center;
		width: 110px;
	}
	.plant-sub-info .table-container .BizSelect,
	.plant-sub-info .table-container .ComCode{
	width: 103px;
	text-align: center;
	}
	.plant-sub-info .table-container .Com_Name,
	.plant-sub-info .table-container .Biz_Des{
		text-align: center;
		width: 250px;
	}
	.emp-sub-info .CCSelect,
	.emp-sub-info .PosCode,
	.emp-sub-info .duty,
	.emp-sub-info .title{
	width: 110px;
	text-align: center;
	}
	.emp-sub-info .NewAddr{
		margin-bottom: 5px;
	}
	.emp-sub-info .PosCode{
		width: 105px;	
	}
	.emp-sub-info .today ,
	.emp-sub-info .duty_Start{
		width: 105px;
	}
	.emp-sub-info .join,
	.emp-sub-info .Birth{
		width: 109px;
		text-align: center;
	}
	.emp-sub-info .UserDutyCode{
		width: 107px;
		text-align: center;
	}
	.emp-sub-info .UserDutyDes{
		width: 113px;
		text-align: center;
	}
	.emp-sub-info .Jumin_1st,
	.emp-sub-info .Jumin_2nd{
		width: 109px;
		text-align: center;
	}
	.emp-sub-info .ComCode,
	.emp-sub-info .duty_code ,
	.emp-sub-info .title_Code{
		width: 105px;
		text-align: center;
	}
	.emp-sub-info .Com-Search img {
	    width: 10px;
	    height: 10px;
	}
	.Mat-Registed {
    display: flex;
    flex-direction: row;
    height: 52vh;
    margin-top: 0.98%;
	}
	.Mat-Registed > .Mat-Header > .Header-Title,
	.Mat-Registed > .Mat-Body > .Body-Title,
	.Mat-Registed > .Mat-Body > .Info-Area > .Tail-Title{
		background: #260FB1;
		color: white;
	    text-align: center;
		font-size: x-large;
		padding: 5px;
	}
	.Mat-Header {
	    border: 1px solid #89CFF0;
	    margin-left: 1%;
	    height: 132.5%;
	    width: 25%;
	}
	.Mat-Header >.InfoInput {
	    display: flex;
	    flex-direction: row;
	    margin: 50px 0px 10px 20px;
	    width: 100%;
	}
	.Mat-Header > .InfoInput label {
		font-weight: 900;
		display: inline-block;
		width: 12em;
		text-align: right;
		letter-spacing: 0.1em;
	}
	.Mat-Header > .InfoInput input:nth-child(2) {
		margin: 0px 10px;
		width: 150px;
		text-align: center;
	}
	.Mat-Header > .InfoInput:nth-child(n+2):nth-child(-n+7) input {
		margin: 0px 10px;
		text-align: center;
	}
	.Mat-Header > .InfoInput:nth-child(8) input {
		margin: 0px 10px;
		width: 55%;
		text-align: center;
	}
	.Mat-Header > .Mat-Header-btnArea > button {
		width: 24%;
		height: 5%;
		text-align: center;
		background-color: #002060;
		color: white;
		border: 1px solid #1F4E79;
		margin: 20% 0px 0px 35%;
		border-radius: 10px;
		font-size: 25px;
		padding: 5px;
	}
	.Mat-Header > .Mat-Header-btnArea > button:hover {
		background: #0068ff;
		color: #fff;
		border: 1px solid #0068ff;
	}
	.Mat-Header > .Mat-Header-btnArea > button:active {
		background: #0068ff;
		color: #fff;
		border: 1px solid #0068ff;
	}
	.Mat-Body {
		border: 1px solid #89CFF0;
	    margin-left: 2%;
	    height: 60%;
	    width: 70%;
	}
	.Mat-Body > .Mat-Area > .InfoInput {
	    display: flex;
	    flex-direction: row;
	    margin: 20px 0px 10px 32%; 
	}
	.Mat-Body > .Mat-Area > .InfoInput label {
		font-weight: 900;
		display: inline-block;
		width: 12em;
		text-align: right;
		letter-spacing: 0.1em;
	}
	.Mat-Body > .Mat-Area > .InfoInput:nth-child(-n+5) input:nth-child(2) {
		margin: 0px 10px;
		width: 150px;
		text-align: center;
	}
	.Mat-Body > .Mat-Area > .InfoInput:nth-child(1) input:nth-child(3),
	.Mat-Body > .Mat-Area > .InfoInput:nth-child(3) input:nth-child(3) {
		width: 25.5%;
		text-align: center;
	}
	.Mat-Body > .Mat-Area > .InfoInput:nth-child(2) input:nth-child(2) {
		margin: 0px 10px;
		width: 39.4%;
		text-align: center;
	}
	.Mat-Body > .Mat-Area > .InfoInput:nth-child(n+6):nth-child(-n+7) input {
		width: 35px;
	}
	.Mat-Body > .Mat-Area > .InfoInput:nth-child(7) input:nth-child(3) {
		margin-left: 4.9%;
		width: 35px;
	}
	.Mat-Body > .BtnArea {
	    margin-top: 50px;
	    height: 50px;
	    display: flex;
	    flex-direction: row;
	    justify-content: flex-end;
	}
	.Mat-Body > .BtnArea > button.InsertBtn {
	    width: 10%;
	    height: 50px;
	    background: darkred;
	    color: white;
	    font-weight: bold;
	    border: 1px solid darkred;
		padding: 5px;
		border-radius: 10px;
	}
	.Mat-Body > .BtnArea > button.InsertBtn:hover{
		background: #FA8072;
		color: #fff;
		border: 1px solid #FA8072;
	}
	.Mat-Body > .BtnArea > button.InsertBtn:active {
		background: #FA8072;
		color: black;
		border: 1px solid #FA8072;
	}	
	.Mat-Body > .BtnArea > button.SaveBtn {
	    background: darkgreen;
	    width: 10%;
	    height: 50px;
	    margin-left: 1%;
	    color: white;
	    font-weight: bold;
	    border: 1px solid darkgreen;
		padding: 5px;
		border-radius: 10px;
	}
	.Mat-Body > .BtnArea > button.SaveBtn:hover {
		background: #32CD32;
		color: #fff;
		border: 1px solid #32CD32;
	}
	.Mat-Body > .BtnArea > button.SaveBtn:active {
		background: #32CD32;
		color: black;
		border: 1px solid #32CD32;
	}	
	.Mat-Body > .Info-Area {
	    border: 1px solid #89CFF0;
	    height: 100%;
		margin-top: 15px;
	}
	.Mat-Body > .Info-Area > table.InfoTable{
		border-collapse: collapse;
		width: 100%;
		height: 92.1%;
		table-layout: fixed;
		overflow: scroll;
	}
	.Mat-Body > .Info-Area > table.InfoTable thead{
	    display: table;
	    width: 100%;
	}
	.Mat-Body > .Info-Area > table.InfoTable tbody{
		table-layout: fixed;
		display: block;
		width: 100.2%;
		height: 90%;
		max-height: 90%;
		overflow-y: auto;
	}
	.Mat-Body > .Info-Area > table.InfoTable tbody td:empty{
		padding: 8px 5.5px;
		border: 1px solid #ddd;
		width: 215px;
		height: 10px;
		text-align: center;
		font-size: 10px;
		font-weight: bold;
	}
	.Mat-Body > .Info-Area > table.InfoTable tbody td:not(:empty):first-child{
		padding: 8px 0px;
		border: 1px solid #ddd;
		width: 215px;
		height: 10px;
		text-align: center;
		font-size: 10px;
		font-weight: bold;
	}
	.Mat-Body > .Info-Area > table.InfoTable tbody td:not(:empty):nth-child(2),
	.Mat-Body > .Info-Area > table.InfoTable tbody td:not(:empty):nth-child(3),
	.Mat-Body > .Info-Area > table.InfoTable tbody td:not(:empty):nth-child(4),
	.Mat-Body > .Info-Area > table.InfoTable tbody td:not(:empty):nth-child(5),
	.Mat-Body > .Info-Area > table.InfoTable tbody td:not(:empty):nth-child(6),
	.Mat-Body > .Info-Area > table.InfoTable tbody td:not(:empty):nth-child(7){
		padding: 8px 1px;
		border: 1px solid #ddd;
		width: 215px;
		height: 10px;
		text-align: center;
		font-size: 10px;
		font-weight: bold;
	}
	.Mat-Body > .Info-Area > table.InfoTable tbody td:not(:empty):nth-child(8),
	.Mat-Body > .Info-Area > table.InfoTable tbody td:not(:empty):nth-child(9){
		padding: 8px 3px;
		border: 1px solid #ddd;
		width: 215px;
		height: 10px;
		text-align: center;
		font-size: 10px;
		font-weight: bold;
	}
	.Mat-Body > .Info-Area > table.InfoTable thead > tr > th{
		background-color: rgb(111, 167, 235);
		position: sticky;
		top: 0;
		color: white;
		text-align: center;
		z-index: 10;
		padding: 8px;
		border: 1px solid white;
		width: 120px;
		font-size: 11px;
	}
	
	.Mat-Body > .Info-Area > table.InfoTable tbody::-webkit-scrollbar {
	    width: 5px;
	}
	.Mat-Body > .Info-Area > table.InfoTable tbody::-webkit-scrollbar-thumb {
	    background-color: #2f3542;
	    border-radius: 10px;
	}
	.Mat-Body > .Info-Area > table.InfoTable tbody::-webkit-scrollbar-track {
	    background-color: white;
	    border-radius: 1px;
	    box-shadow: inset 0px 0px 5px white;
	}	
	/* Storage START */ 
	.storage-sub-info .table-container .ComCode,
	.storage-sub-info .table-container .PlantCode,
	.storage-sub-info .table-container .Stor_Code{
		width: 110px;
		text-align: center;	
	}
	
	.storage-sub-info .table-container .Com_Name,
	.storage-sub-info .table-container .PlantDes,
	.storage-sub-info .table-container .Stor_Des {
		width: 275px;
		text-align: center;
	}
	
	/* Storage END */
	.ven-main-info {
		width: 40%;
        margin-top: 50px;
        padding-right: 4%;
	}
	.ven-main-info > .table-container > .InfoInput label {
		font-weight: 900;
		display: inline-block;
		width: 12em;
		text-align: right;
		letter-spacing: 0.1em;
	}
	.ven-main-info > .table-container >.InfoInput {
	    display: flex;
        flex-direction: row;
        margin: 0px 0px 10px 25%;
        width: 100%;
	}
	.ven-main-info > .table-container > .InfoInput input {
		margin: 0px 10px;
		width: 200px;
		text-align: center;
	}
	.ven-sub-info > .table-container > .InfoInput label {
		font-weight: 900;
		display: inline-block;
		width: 12em;
		text-align: right;
		letter-spacing: 0.1em;
	}
	.ven-sub-info > .table-container >.InfoInput {
	    display: flex;
        flex-direction: row;
        margin: 0px 0px 10px 25%;
        width: 55%;
	}
	.ven-sub-info > .table-container > .InfoInput:nth-child(-n+3) > input:nth-child(2) {
		width: 150px;
		text-align: center;
		margin: 0px 10px;
	}
	.ven-sub-info > .table-container > .InfoInput:nth-child(-n+2) > input:nth-child(3) {
		width: 200px;
		text-align: center;
	}
	.ven-sub-info > .table-container > .InfoInput:nth-child(4) > .ForAddrColumn {
	    display: flex;
	    flex-direction: column;
	    margin-left: 10px;
	    width: 100%
	}
	.ven-sub-info > .table-container >.InfoInput:nth-child(4) {
	    display: flex;
        flex-direction: row;
        margin: 0px 0px 10px 28%;
        width: 55%;
	}
	.ven-sub-info > .table-container > .InfoInput:nth-child(4) > .ForAddrColumn > input {
    	height: 20px;
	}
	.ven-sub-info > .table-container > .InfoInput:nth-child(4) > .ForAddrColumn > input:nth-child(1) {
    	width: 39%;
	}
	.ven-sub-info > .table-container > .InfoInput:nth-child(4) > .ForAddrColumn > input:nth-child(2) {
    	margin-top: 5px;
    	width: 39%;
	}
	.ven-sub-info > .table-container > .InfoInput:nth-child(n+5):nth-child(-n+6) > input:nth-child(2) {
		width: 150px;
		text-align: center;
		margin: 0px 10px;
	}
	.ven-sub-info > .table-container > .InfoInput:nth-child(7) > input {
    	width: 20px;
	}
	.ven-sub-info > .table-container > .InfoInput:nth-child(7) > input:nth-child(2) {
    	margin-left: 1%;
	}
	.ven-sub-info > .table-container > .InfoInput:nth-child(7) > input:nth-child(3) {
    	margin-left: 3%;
	}
	.ven-sub-info > .table-container > .InfoInput:nth-child(n+8):nth-child(-n+10) > input:nth-child(2) {
		width: 200px;
		text-align: center;
		margin: 0px 10px;
	}
	.Mat-Order {
	display: flex;
	flex-direction: row;
	height: 80vh;
	margin-top: 0.98%;
	}
	.Mat-Order input {
	font-weight: bold;
	}
	.Mat-Order > .MatOrder-Header > .Header-Title,
	.Mat-Order > .MatOrder-Body > .Body-Title,
	.Mat-Order > .MatOrder-Body > .Info-Area > .Tail-Title{
		background: #260FB1;
		color: white;
	    text-align: center;
		font-size: x-large;
		padding: 5px;
		letter-spacing: 1rem;
	}
	.MatOrder-Header {
	    border: 1px solid #89CFF0;
	    margin-left: 1%;
	    height: 100%;
	    width: 25%;
	}
	.MatOrder-Header >.InfoInput {
	    display: flex;
	    flex-direction: row;
	    margin: 50px 0px 10px 20px;
	    width: 100%;
	}
	.MatOrder-Header > .InfoInput > label {
		font-weight: 900;
		display: inline-block;
		width: 12em;
		text-align: right;
		letter-spacing: 0.1em;
	}
	.MatOrder-Header > .InfoInput > input:nth-child(2) {
		margin: 0px 10px;
		width: 25%;
		text-align: left;
	}
	.MatOrder-Header > .InfoInput:nth-child(3) input:nth-child(2),
	.MatOrder-Header > .InfoInput:nth-child(4) input:nth-child(2) {
		margin: 0px 3px 0px 10px;
		text-align: left;
	}
	.MatOrder-Header > .InfoInput:nth-child(n+3):nth-child(-n+4) input:nth-child(3){
		text-align: left;
	}
	.MatOrder-Header > .BtnArea > button {
		width: 24%;
		height: 5%;
		text-align: center;
		background-color: #002060;
		color: white;
		border: 1px solid #1F4E79;
		margin: 20% 0px 0px 35%;
		border-radius: 10px;
		font-size: 25px;
		padding: 5px;
	}
	.MatOrder-Header > .BtnArea > button:hover {
		background: #0068ff;
		color: #fff;
		border: 1px solid #0068ff;
	}
	.MatOrder-Header > .BtnArea > button:active {
		background: #0068ff;
		color: #fff;
		border: 1px solid #0068ff;
	}
	.MatOrder-Body {
        margin-left: 1%;
        height: 100%;
        width: 72%;
	}
	.MatOrder-Body > .Mat-Area > .InfoInput {
	    display: flex;
	    flex-direction: row;
	    margin: 20px 0px 10px 10%; 
	}
	.MatOrder-Body > .Mat-Area > .InfoInput > input:nth-child(2) {
	    margin: 0px 10px;
		width: 10%;
		text-align: left;
	}
	.MatOrder-Body > .Mat-Area > .InfoInput:nth-child(2) > input:nth-child(5){
	    margin: 0px 10px;
		width: 10%;
		text-align: left;
	}
	.MatOrder-Body > .Mat-Area > .InfoInput:nth-child(2) > input:nth-child(2){
	    margin: 0px 3px 0px 10px;
		width: 10%;
		text-align: left;
	}
	.MatOrder-Body > .Mat-Area > .InfoInput:nth-child(2) > input:nth-child(3){
		width: 45.8%;
		text-align: left;
	}
	.MatOrder-Body > .Mat-Area > .InfoInput:nth-child(4) > input:nth-child(4) {
	   margin: 0px 3px 0px 14px;
       width: 10%;
       text-align: left;
	}
	.MatOrder-Body > .Mat-Area > .InfoInput:nth-child(3) > input:nth-child(2n),
	.MatOrder-Body > .Mat-Area > .InfoInput:nth-child(5) > input:nth-child(2n) {
	    margin: 0px 10px;
		width: 10%;
		text-align: left;
	}
	.MatOrder-Body > .Mat-Area > .InfoInput label {
		font-weight: 900;
		display: inline-block;
		width: 12em;
		text-align: right;
		letter-spacing: 0.1em;
	}
	
	.MatOrder-Body > .BtnArea {
        margin-top: 1%;
	    display: flex;
	    flex-direction: row;
	    justify-content: flex-end;
    }
	.MatOrder-Body > .BtnArea > button.ResetBtn {
	    width: 10%;
	    height: 50px;
	    background: darkred;
	    color: white;
	    font-weight: bold;
	    border: 1px solid darkred;
		padding: 5px;
		border-radius: 10px;
	}
	.MatOrder-Body > .BtnArea > button.ResetBtn:hover{
		background: #FA8072;
		color: #fff;
		border: 1px solid #FA8072;
	}
	.MatOrder-Body > .BtnArea > button.ResetBtn:active {
		background: #FA8072;
		color: black;
		border: 1px solid #FA8072;
	}	
	.MatOrder-Body > .BtnArea > button.InsertBtn {
	    background: DarkBlue;
	    width: 10%;
	    height: 50px;
	    margin-left: 1%;
	    color: white;
	    font-weight: bold;
	    border: 1px solid DarkBlue;
		padding: 5px;
		border-radius: 10px;
	}
	.MatOrder-Body > .BtnArea > button.InsertBtn:hover {
		background: #B0E0E6;
		color: #fff;
		border: 1px solid #B0E0E6;
	}
	.MatOrder-Body > .BtnArea > button.InsertBtn:active {
		background: #B0E0E6;
		color: black;
		border: 1px solid #B0E0E6;
	}
    .MatOrder-Body > .BtnArea > button.SaveBtn {
	    background: darkgreen;
	    width: 10%;
	    height: 50px;
	    margin: 0% 1%;
	    color: white;
	    font-weight: bold;
	    border: 1px solid darkgreen;
		padding: 5px;
		border-radius: 10px;
	}
	.MatOrder-Body > .BtnArea > button.SaveBtn:hover {
		background: #32CD32;
		color: #fff;
		border: 1px solid #32CD32;
	}
	.MatOrder-Body > .BtnArea > button.SaveBtn:active {
		background: #32CD32;
		color: black;
		border: 1px solid #32CD32;
	}
	
	.MatOrder-Body > .Mat-Area {
        border: 1px solid #89CFF0;
        height: 30%;
    }
	.MatOrder-Body > .Info-Area {
        border: 2px solid #89CFF0;
        height: 55.5%;
        margin-top: 2%;
    }
	.MatOrder-Body > .Info-Area > table.InfoTable {
        border-collapse: collapse;
        width: 100%;
        height: 108%;
        table-layout: fixed;
        overflow: scroll;
    }
	.MatOrder-Body > .Info-Area > table.InfoTable thead{
	    display: table;
	    width: 100%;
	}
	.MatOrder-Body > .Info-Area > table.InfoTable tbody {
        table-layout: fixed;
        display: block;
        width: 100.2%;
        height: 81.5%;
        max-height: 90%;
        overflow-y: auto;
        overflow-x: auto;
    }
	.MatOrder-Body > .Info-Area > table.InfoTable thead > tr > th{
		background-color: rgb(111, 167, 235);
		position: sticky;
		top: 0;
		color: white;
		text-align: center;
		z-index: 10;
		padding: 8px;
		border: 1px solid white;
		width: 120px;
		font-size: 11px;
	}
	.MatOrder-Body > .Info-Area > table.InfoTable tbody td:empty{
		padding: 8px 5.5px;
		border: 1px solid #ddd;
		width: 215px;
		height: 10px;
		text-align: center;
		font-size: 10px;
		font-weight: bold;
	}
	
	.MatOrder-Body > .Info-Area > table.InfoTable tbody td:not(:empty) {
	    padding: 8px 5.5px;
	    border: 1px solid #ddd;
	    width: 120px;
	    height: 10px;
	    text-align: center;
	    font-size: 10px;
	    font-weight: bold;
	}
	
	.MatOrder-Body > .Info-Area > table.InfoTable tbody td:not(:empty):nth-child(1) {
	    width: 124px;
	}
	
	.MatOrder-Body > .Info-Area > table.InfoTable tbody td:not(:empty):nth-child(2) {
	    padding: 0px;
	    width: 115px;
	}
	
	.MatOrder-Body > .Info-Area > table.InfoTable tbody td:not(:empty):nth-child(2) > button.DeleteBtn {
	    background: darkgray;
        color: white;
        width: 112px;
        height: 50px;
        font-weight: bold;
        border-radius: 10px;
        border: darkgray;
	}
	.MatOrder-Body > .Info-Area > table.InfoTable tbody td:not(:empty):nth-child(2) > button.DeleteBtn:hover {
		background:  #7A7A7A;
		color: #fff;
		border: 1px solid  #7A7A7A;
	}
	.MatOrder-Body > .Info-Area > table.InfoTable tbody td:not(:empty):nth-child(2) > button.DeleteBtn:click {
		background: #5A5A5A;
		color: #fff;
		border: 1px solid #5A5A5A;
	}
	
	.MatOrder-Body > .Info-Area > table.InfoTable tbody td:not(:empty):nth-child(3) {
	    padding: 8px 3px;
	    width: 107px;
	}
	
	.MatOrder-Body > .Info-Area > table.InfoTable tbody td:not(:empty):nth-child(4) {
	    padding: 8px 7px;
	}
	
	.MatOrder-Body > .Info-Area > table.InfoTable tbody td:not(:empty):nth-child(5) {
	    padding: 8px 6px;
	    width: 110px;
	}
	
	.MatOrder-Body > .Info-Area > table.InfoTable tbody td:not(:empty):nth-child(6) {
	    padding: 8px 0px;
	    font-size: 8px;
	}
	
	.MatOrder-Body > .Info-Area > table.InfoTable tbody td:not(:empty):nth-child(12) {
	    padding: 8px 4px;
	}
	
	.MatOrder-Body > .Info-Area > table.InfoTable tbody td:not(:empty):nth-child(15) {
	    padding: 8px 5px;
	}
	
	.MatOrder-Body > .Info-Area > table.InfoTable tbody td:not(:empty):nth-child(16) {
	    width: 127px;
	}
	.MatOrder-Body > .Info-Area > table.InfoTable tbody::-webkit-scrollbar {
	    width: 5px;
	}
	.MatOrder-Body > .Info-Area > table.InfoTable tbody::-webkit-scrollbar-thumb {
	    background-color: #2f3542;
	    border-radius: 10px;
	}
	.MatOrder-Body > .Info-Area > table.InfoTable tbody::-webkit-scrollbar-track {
	    background-color: white;
	    border-radius: 1px;
	    box-shadow: inset 0px 0px 5px white;
	}	
	
	.Mat-Input {
	    display: flex;
		flex-direction: row;
		height: 84%;
		margin-top: 0.99%;
	}
	.Mat-Input > .MatInput-Header > .Title,
	.Mat-Input > .MatInput-Body > .Order-Area > .Title,
	.Mat-Input > .MatInput-Body > .Info-Area > .Title{
		background: #260FB1;
	    color: white;
		text-align: center;
		font-size: x-large;
		padding: 5px;
		letter-spacing: 1rem;
	}
	.Mat-Input > .MatInput-Header {
	    border: 1px solid #89CFF0;
	    margin-left: 1%;
	    width: 25%;
	    height: 100%;
	}
	
	.MatInput-Header >.InfoInput {
	    display: flex;
	    flex-direction: row;
	    margin: 50px 0px 10px 20px;
	    width: 100%;
	}
	.MatInput-Header > .InfoInput > label {
		font-weight: 900;
		display: inline-block;
		width: 12em;
		text-align: right;
		letter-spacing: 0.1em;
	}
	.MatInput-Header > .InfoInput > input:nth-child(2) {
		margin: 0px 3px 0px 10px;
		text-align: left;
	}
	.MatInput-Header > .BtnArea > button {
		width: 24%;
		height: 5%;
		text-align: center;
		background-color: #002060;
		color: white;
		border: 1px solid #1F4E79;
		margin: 20% 0px 0px 35%;
		border-radius: 10px;
		font-size: 25px;
		padding: 5px;
	}
	.MatInput-Header > .BtnArea > button:hover {
		background: #0068ff;
		color: #fff;
		border: 1px solid #0068ff;
	}
	.MatInput-Header> .BtnArea > button:active {
		background: #0068ff;
		color: #fff;
		border: 1px solid #0068ff;
	}
	
	.Mat-Input > .MatInput-Body {
	    margin-left: 1%;
	    width: 72%;
	    height: 100%;
	}
	.Mat-Input > .MatInput-Body > .Order-Area {
	    border: 1px solid #89CFF0;
	    height: 35%;
	}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable {
        border-collapse: collapse;
        width: 100%;
        height: 108%;
        table-layout: fixed;
        overflow: scroll;
    }
    .Mat-Input > .MatInput-Body > .Order-Area > table > thead {
     	display: table;
        width: 100%;
    }
    .Mat-Input > .MatInput-Body > .Order-Area > table > tbody {
		table-layout: fixed;
        display: block;
        width: 100.2%;
        height: 81.5%;
        max-height: 90%;
        overflow-y: auto;
        overflow-x: auto;
    }
	.Mat-Input > .MatInput-Body > .Order-Area > table > thead > tr > th {
        background-color: rgb(111, 167, 235);
        position: sticky;
        top: 0;
        color: white;
        text-align: center;
        z-index: 10;
        padding: 8px;
        border: 1px solid white;
        width: 120px;
        font-size: 11px;
    }
    .Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody {
        table-layout: fixed;
        display: block;
        width: 100%;
        height: 75.5%;
        max-height: 90%;
        overflow-y: auto;
        overflow-x: auto;
    }
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:empty{
		padding: 8px 5.5px;
		border: 1px solid #ddd;
		width: 215px;
		height: 10px;
		text-align: center;
		font-size: 10px;
		font-weight: bold;
	}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:not(:empty) {
	    padding: 8px 0px;
	    border: 1px solid #ddd;
	    width: 108px;
	    height: 10px;
	    text-align: center;
	    font-size: 8px;
	    font-weight: bold;
	}
	
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:not(:empty):nth-child(1) {}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:not(:empty):nth-child(2) > button {
	    background: darkgray;
        color: white;
        width: 108px;
        height: 44px;
        font-weight: bold;
        border-radius: 10px;
        border: darkgray;
	}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:not(:empty):nth-child(2) > button:hover {
		background:  #7A7A7A;
		color: #fff;
		border: 1px solid  #7A7A7A;
	}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:not(:empty):nth-child(2) > button:click {
		background: #5A5A5A;
		color: #fff;
		border: 1px solid #5A5A5A;
	}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:not(:empty):nth-child(2) {
		padding: 0;
	}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:not(:empty):nth-child(3) {}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:not(:empty):nth-child(4) {}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:not(:empty):nth-child(5) {}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:not(:empty):nth-child(6) {}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:not(:empty):nth-child(7) {}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:not(:empty):nth-child(8) {}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:not(:empty):nth-child(9) {}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:not(:empty):nth-child(10) {}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:not(:empty):nth-child(11) {}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:not(:empty):nth-child(12) {}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:not(:empty):nth-child(13) {}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:not(:empty):nth-child(14) {}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:not(:empty):nth-child(15) {}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:not(:empty):nth-child(16) {}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody td:not(:empty):nth-child(17) {}
	

	
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody::-webkit-scrollbar {
	    width: 5px;
	}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody::-webkit-scrollbar-thumb {
	    background-color: #2f3542;
	    border-radius: 10px;
	}
	.Mat-Input > .MatInput-Body > .Order-Area > table.InfoTable tbody::-webkit-scrollbar-track {
	    background-color: white;
	    border-radius: 1px;
	    box-shadow: inset 0px 0px 5px white;
	}
	
    .Mat-Input > .MatInput-Body > .Mat-Area {
	    border: 1px solid #89CFF0;
	    margin-top: 1%;
	    height: 20%;
        width: 100%;
	}
	
	.Mat-Input > .MatInput-Body > .Mat-Area {
	    display: flex;
	    flex-direction: column;
	    width: 100%;
	    height: 20%;
	}
	.Mat-Input > .MatInput-Body > .Mat-Area > .InfoInput > label {
		font-weight: 900;
		display: inline-block;
		width: 14em;
		text-align: right;
		letter-spacing: 0.1em;
		margin-top: 0.5%;
	}
	.Mat-Input > .MatInput-Body > .Mat-Area > .InfoInput:nth-child(1) > label:nth-child(5) {
		font-weight: 900;
		display: inline-block;
		width: 12em;
		text-align: right;
		letter-spacing: 0.1em;
		margin-left: 22%;
	}
	.Mat-Input > .MatInput-Body > .Mat-Area > .InfoInput:nth-child(1) > input:nth-child(2),
	.Mat-Input > .MatInput-Body > .Mat-Area > .InfoInput:nth-child(1) > input:nth-child(7),
	.Mat-Input > .MatInput-Body > .Mat-Area > .InfoInput:nth-child(2) > input:nth-child(2){
		width: 10%;
	}
	.Mat-Input > .MatInput-Body > .Mat-Area > .InfoInput:nth-child(1) > input:nth-child(4),
	.Mat-Input > .MatInput-Body > .Mat-Area > .InfoInput:nth-child(1) > input:nth-child(6),
	.Mat-Input > .MatInput-Body > .Mat-Area > .InfoInput:nth-child(2) > input:nth-child(4),
	.Mat-Input > .MatInput-Body > .Mat-Area > .InfoInput:nth-child(4) > input:nth-child(2),
	.Mat-Input > .MatInput-Body > .Mat-Area > .InfoInput:nth-child(4) > input:nth-child(7),
	.Mat-Input > .MatInput-Body > .Mat-Area > .InfoInput:nth-child(4) > input:nth-child(9) {
		width: 5%;
	}
	.Mat-Input > .MatInput-Body > .Mat-Area > .InfoInput:nth-child(3) > input:nth-child(2){
		width: 10%;
		margin-right: -3px;
	}
	.Mat-Input > .MatInput-Body > .Mat-Area > .InfoInput:nth-child(3) > input:nth-child(3){
		width: 35%;
	}
	.Mat-Input > .MatInput-Body > .Mat-Area > .InfoInput:nth-child(4) > input:nth-child(4){
		width: 5%;
		margin-right: -3px;
	}
	.Mat-Input > .MatInput-Body > .Mat-Area > .InfoInput:nth-child(5) > label:nth-child(3) {
		font-weight: 900;
		display: inline-block;
		width: 12em;
		text-align: right;
		letter-spacing: 0.1em;
		margin-left: -5%;
	}
	.Mat-Input > .MatInput-Body > .Mat-Area > .InfoInput:nth-child(5) > label:nth-child(5) {
		font-weight: 900;
		display: inline-block;
		width: 12em;
		text-align: right;
		letter-spacing: 0.1em;
	}
	.Mat-Input > .MatInput-Body > .Mat-Area > .InfoInput:nth-child(5) > input{
		width: 5%;
	}
	.Mat-Input > .MatInput-Body > .Mat-Area > .InfoInput:nth-child(6) > input{
		width: 5%;
	}
	.Mat-Input > .MatInput-Body > .Mat-Area > .InfoInput:nth-child(6) > input:nth-child(2){
		width: 16.4%;
	}
	.Mat-Input > .MatInput-Body > .Mat-Area > .InfoInput:nth-child(6) > label:nth-child(3){
		font-weight: 900;
		display: inline-block;
		width: 12em;
		text-align: right;
		letter-spacing: 0.1em;
	}
	.Mat-Input > .MatInput-Body > .Mat-Area > .InfoInput:nth-child(6) > label:nth-child(5){
		font-weight: 900;
		display: inline-block;
		width: 12em;
		text-align: right;
		letter-spacing: 0.1em;
		margin-left: 2.1%;
	}
	.Mat-Input > .MatInput-Body > .BtnArea {
        height: 5%;
	    margin-top: 0.5%;
	    display: flex;
	    flex-direction: row;
	    justify-content: flex-end;
    }
	.Mat-Input > .MatInput-Body > .BtnArea > button.ResetBtn {
	    width: 10%;
	    height: 50px;
	    background: darkred;
	    color: white;
	    font-weight: bold;
	    border: 1px solid darkred;
		padding: 5px;
		border-radius: 10px;
	}
	.Mat-Input > .MatInput-Body > .BtnArea > button.ResetBtn:hover{
		background: #FA8072;
		color: #fff;
		border: 1px solid #FA8072;
	}
	.Mat-Input > .MatInput-Body > .BtnArea > button.ResetBtn:active {
		background: #FA8072;
		color: black;
		border: 1px solid #FA8072;
	}	
	.Mat-Input > .MatInput-Body > .BtnArea > button.InsertBtn {
	    background: DarkBlue;
	    width: 10%;
	    height: 50px;
	    margin-left: 1%;
	    color: white;
	    font-weight: bold;
	    border: 1px solid DarkBlue;
		padding: 5px;
		border-radius: 10px;
	}
	.Mat-Input > .MatInput-Body > .BtnArea > button.InsertBtn:hover {
		background: #B0E0E6;
		color: #fff;
		border: 1px solid #B0E0E6;
	}
	.Mat-Input > .MatInput-Body > .BtnArea > button.InsertBtn:active {
		background: #B0E0E6;
		color: black;
		border: 1px solid #B0E0E6;
	}
    .Mat-Input > .MatInput-Body > .BtnArea > button.SaveBtn {
	    background: darkgreen;
	    width: 10%;
	    height: 50px;
	    margin: 0% 1%;
	    color: white;
	    font-weight: bold;
	    border: 1px solid darkgreen;
		padding: 5px;
		border-radius: 10px;
	}
	.Mat-Input > .MatInput-Body > .BtnArea > button.SaveBtn:hover {
		background: #32CD32;
		color: #fff;
		border: 1px solid #32CD32;
	}
	.Mat-Input > .MatInput-Body > .BtnArea > button.SaveBtn:active {
		background: #32CD32;
		color: black;
		border: 1px solid #32CD32;
	}

	.Mat-Input > .MatInput-Body > .Info-Area {
	    border: 1px solid #89CFF0;
        height: 36%;
        margin-top: 0.5%;
	}
	.Mat-Input > .MatInput-Body > .Info-Area > table.InfoTable {
        border-collapse: collapse;
        width: 100%;
        height: 108%;
        table-layout: fixed;
        overflow: scroll;
    }
    .Mat-Input > .MatInput-Body > .Info-Area > table > thead {
     	display: table;
        width: 100%;
    }
    .Mat-Input > .MatInput-Body > .Info-Area > table > tbody {
		table-layout: fixed;
        display: block;
        width: 100.2%;
        height: 81.5%;
        max-height: 90%;
        overflow-y: auto;
        overflow-x: auto;
    }
	.Mat-Input > .MatInput-Body > .Info-Area > table > thead > tr > th {
        background-color: rgb(111, 167, 235);
        position: sticky;
        top: 0;
        color: white;
        text-align: center;
        z-index: 10;
        padding: 8px;
        border: 1px solid white;
        width: 120px;
        font-size: 11px;
    }
    .Mat-Input > .MatInput-Body > .Info-Area > table.InfoTable tbody {
        table-layout: fixed;
        display: block;
        width: 100.2%;
        height: 76%;
        max-height: 90%;
        overflow-y: auto;
        overflow-x: auto;
    }
	.Mat-Input > .MatInput-Body > .Info-Area > table.InfoTable tbody td:empty{
		padding: 8px 5.5px;
		border: 1px solid #ddd;
		width: 215px;
		height: 10px;
		text-align: center;
		font-size: 10px;
		font-weight: bold;
	}
	
	.Mat-Input > .MatInput-Body > .Info-Area > table.InfoTable tbody td:not(:empty) {
	    padding: 8px 5.5px;
	    border: 1px solid #ddd;
	    width: 120px;
	    height: 10px;
	    text-align: center;
	    font-size: 10px;
	    font-weight: bold;
	}
	.Mat-Input > .MatInput-Body > .Info-Area > table.InfoTable tbody::-webkit-scrollbar {
	    width: 5px;
	}
	.Mat-Input > .MatInput-Body > .Info-Area > table.InfoTable tbody::-webkit-scrollbar-thumb {
	    background-color: #2f3542;
	    border-radius: 10px;
	}
	.Mat-Input > .MatInput-Body > .Info-Area > table.InfoTable tbody::-webkit-scrollbar-track {
	    background-color: white;
	    border-radius: 1px;
	    box-shadow: inset 0px 0px 5px white;
	}
}
@media only screen and (max-width: 1536px) {
	.ven-sub-info .AddrCode{
	text-align: center;
	width: 95px;
	}	
}

/* Business Area Group END */

/* Cost Center Group START */
.ccg-sub-info .table-container .ComCode,
.ccg-sub-info .table-container .Upper-CCT-Group,
.ccg-sub-info .table-container .Upper-Cct-Name,
.ccg-sub-info .table-container .Com_Name {
	text-align: center;
	width: 103px;
}
.ccg-sub-info .table-container .CCTR-level{
	text-align: center;
	width: 110px;
}


/* Plant END */

/* 간격 START */
.table-container table tr.spacer-row{
	height: 10px;
}
.table-container table td.spaceCell{
	width: 150px;
}
.table-container table td.spaceCell-b{
	width: 550px;
}
.table-container table td.spaceCell-18{
	width: 18px;
}
.table-container table td.spaceCell-20{
	width: 20px;
}
.table-container table td.spaceCell-23{
	width: 23px;
}
.table-container table td.spaceCell-30{
	width: 30px;
}
.table-container table td.spaceCell-40{
	width: 40px;
}
.table-container table td.spaceCell-50{
	width: 50px;
}
.table-container table td.spaceCell-60{
	width: 60px;
}
.table-container table td.spaceCell-70{
	width: 70px;
}
.table-container table td.spaceCell-80{
	width: 80px;
}
.table-container table td.spaceCell-90{
	width: 90px;
}
.table-container table td.spaceCell-100{
	width: 100px;
}
.table-container table td.spaceCell-150{
	width: 150px;
}
.table-container table td.spaceCell-180{
	width: 180px;
}
.table-container table td.spaceCell-190{
	width: 190px;
}
.table-container table td.spaceCell-200{
	width: 200px;
}
.table-container table td.spaceCell-240{
	width: 240px;
}
.table-container table td.spaceCell-ss{
	width: 50px;
}
.table-container table td.spaceCell-ss-1-1{
	width: 130px;
}
.table-container table td.spaceCell-sss{
	width: 5px;
}
/* 간격 END */

.spacing{
    display: inline-block;
    margin-right: 40px;  
  }
.Com-code {
	width: 103px;
	text-align: center;
}
.Biz-level{
	width: 103px;
	text-align: center;	
}

.Nationality-Des {
    text-align: center;
    width:	200px;
}
.Nationality-Code{
	text-align: center;
	width: 85px;
}

.ComSearch-board {
	padding: 20px;
	width: 80%;
	max-height: 400px;
	position: relative;
}

.ComSearch-board table {
	width: 100%;
	border-collapse: collapse;
}

.ComSearch-board th, .ComSearch-board td {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;
}

.ComSearch-board th {
	background-color: #f2f2f2;
	position: sticky;
    top: 0;
    z-index: 1;
}

.ComSearch-board td a {
text-decoration: none;
color: #007bff;
}

.ComSearch-board td a:hover {
text-decoration: underline;
}
.ComSearch-board .jinho {
	position: fixed;
}
/* 실험 부분 시작 */
.MovArea {
	border: 1px solid #ccc;
	width: 100%;
	max-height: 600px;
	overflow: auto;
}
.table-header {
	width: 965px;
	border: 0px;
	border-collapse: collapse;
}
.table-header th, .table-header td{
	width: 20%;
	border-right: 1px solid lightgray;
	text-align: center;
	padding: 5px 0;
}
.table-header th:last-child, .table-header td:last-child{
	border-right: 0px !important;
}
.table-header tr:first-child{
	background-color: gray !important;
	color: white !important;
	font-weight: bold !important;
}
.table-header tr:nth-child(odd){
	background-color: #ccc;
	text-align: center;
}
.table-header th {
	position: sticky;
	top: 0px;
	background-color: #6FA7EB !important;
	padding: 10px;
	text-align: center;
}
.table-tr{
        cursor: default;
}
	/* 네비게이션 부분 CSS END */
/* 실험 부분 끝 */
.emp-sub-info .table-container .CC_Code, .CC_Name , .duty_Des , .title_Des{
	text-align: center;
}
.storage-sub-info .table-container .Storage_Type_Des{
	width: 275px;
	height: 15px;
	font-size: 10px;
	text-align: center;
}
	

/* Data 검색용 테이블 CSS */
.DataForm {
	margin-top: 5px;
    border-collapse: collapse; /* 테이블 셀 경계를 합치도록 설정 */
    width: 2050px; /* 테이블 전체 너비를 100%로 설정 */
}

.DataForm th, .DataForm td {
    border: 1px solid #ddd; /* 셀 경계를 1px 실선으로 설정 */
    padding: 8px; /* 셀 안의 여백 설정 */
    text-align: center; /* 텍스트를 왼쪽 정렬로 설정 */
    font-size: 12px;
    
}
.wrapper{
	margin-top: 100px;
}
.search-section {
	order: 1;
}
 
.table-section {
	order: 2;
}
.DataForm th {
    background-color: rgb(111, 167, 235); /* 배경색을 지정 */
    color: white; /* 글자색을 흰색으로 설정 */
} 
/* 작성표 END */

/* 자재입고 큰 모니터 START */
@media only screen and (max-width: 1537px) {
	
	
	.Content-Wrapper-OutAside {
    display: flex; /* Flex 컨테이너 설정 */
	}
	
	#Out_SideMenu li {
	    font-weight: bold;
	    list-style: none;
	    margin-left: 20px;
	    margin-top: 10px;
	}
	#Out_SideMenu .plantCode,
	#Out_SideMenu .StorageCode,
	#Out_SideMenu .movCode {
    text-align: center;
    width: 60px;
    margin-left: 20px;
	}

	#Out_SideMenu .plantDes,
	#Out_SideMenu .StorageDes,
	#Out_SideMenu .movDes,
	#Out_SideMenu .Doc_Num,
	#Out_SideMenu .Out_date,
	#Out_SideMenu .User_Id {
	    text-align: center;
	    background-color: #ddd;
	    width: 150px;
	    margin-left: 20px;
	}
	
	.output-main-info {
	    border: 1px solid #000;
	    margin-top: 50px;
	    padding-left: 10px; 
	    padding-top: 30px;
	    padding-bottom: 15px;
	    width: 80%;
	}
	.output-sub-info {
	    border: 1px solid #000;
	    padding-left: 10px; 
	    padding-top: 30px;
	    padding-bottom: 30px;
	    width: 90%;
	    border-radius: 10px;
	    margin-left: 50px;
	}
	.output-main-info .table-container .main-table_01 .plantCode{
		width : 100px;
		text-align: center;
	}
	.output-main-info .table-container .main-table_01 .plantDes{
		width : 550px;
		text-align: center;
		background-color: #ddd;
		font-weight: 700;
	}
	.output-main-info .table-container .main-table_01 .StorageCode{
		width : 100px;
		text-align: center;
	}
	.output-main-info .table-container .main-table_01 .StorageDes{
		width : 550px;
		text-align: center;
		background-color: #ddd;
		font-weight: 700;
	}
	.output-main-info .table-container .main-table_01 .User_Id{
		font-weight: 700;
		width: 100px;
		text-align : center;
		background-color: #ddd;
	}
	.output-main-info .table-container .main-table_01 .Out_date{
		font-weight: 700;
		width: 100px;
		text-align : center;
		background-color: #ddd;
	}
	.output-main-info .table-container .main-table_02{
		margin-right: 728px; 
	}
	.output-main-info .table-container .main-table_02 .Doc_Num{
		text-align : center;
	}
	.output-main-info .table-container .main-table_02 .movCode{
		width : 95px;
		text-align : center;
	}
	.output-main-info .table-container .main-table_02 .movDes{
		width : 220px;
		text-align : center;
		background-color: #ddd;
		font-weight: 700;
	}
	.output-sub-info .table-container .sub-table-01 .GINo{
		width : 60px;
		text-align : center;
	}
	.output-sub-info .table-container .sub-table-01{
		margin-left: 100px;
	}
	.output-sub-info .table-container .sub-table-02 .MatCode{
		text-align : center;
	}
	.output-sub-info .table-container .sub-table-02 .MatDes{
		width : 603px;
		text-align : center;
		background-color: #ddd;
	}
	.output-sub-info .table-container .sub-table-02{
		margin-left: 123px;
	}
	.output-sub-info .table-container .sub-table-03 .MatLotNo{
		text-align : center;
	}
	.output-sub-info .table-container .sub-table-03 .MakeDate{
		width : 100px;
		text-align : center;
		background-color: #ddd;
	}
	.output-sub-info .table-container .sub-table-03 .DeadDete{
		width : 100px;
		text-align : center;
		background-color: #ddd;
	}
	.output-sub-info .table-container .sub-table-03{
		margin-left : 85px;
	}
	.output-sub-info .table-container .sub-table-04 .Rack{
		width : 100px;
	}
	.output-sub-info .table-container .sub-table-04 .Bin{
		width : 100px;
	}
	.output-sub-info .table-container .sub-table-04{
		margin-left: 110px;
	}
	.output-sub-info .table-container .sub-table-05 .OutCount{
		width : 100px;
		text-align : center;
	}
	.output-sub-info .table-container .sub-table-05 .OrderUnit{
		width : 80px;
		text-align : center;
		background-color: #ddd;
	}
	.output-sub-info .table-container .sub-table-05 .BeforeCount{
		width : 100px;
		text-align : center;
		background-color: #ddd;
	}
	.output-sub-info .table-container .sub-table-05 .BeforeLotNo{
		width : 100px;
		text-align : center;
		background-color: #ddd;
	}
	.output-sub-info .table-container .sub-table-05{
		margin-left: 113px;
	}
	
	.output-sub-info .table-container .sub-table-06 .UseDepart{
		width : 100px;
		text-align : center;
	}
	.output-sub-info .table-container .sub-table-06 .DepartName{
		width : 230px;
		text-align : center;
		background-color: #ddd;
	}
	.output-sub-info .table-container .sub-table-06 .InputStorage{
		width : 100px;
		text-align : center;
	}
	.output-sub-info .table-container .sub-table-06{
		margin-left: 113px;
	}
	.output-sub-info .table-container .sub-table-07{
		margin-left: 90px;
	}
	.output-sub-info .table-container .sub-table-07 .nothing{
		width: 200px;
	}
	/* .datasize{
		text-align : center !important;
	} */
	#OPResgistform, #OrderRegistForm, #MatInputRegistForm {
        margin-top: 50px;
    }
	.expiredData .table-container {
    overflow-y: auto;
    height: 300px;
    width: 110%;
    border: 1px solid rgba(111,167,235, .5);
    border-radius: 0px 0px 20px 20px;
	}
	
	.expiredData .WrittenForm {
    border-collapse: collapse;
    width: 100%; /* 수정: 테이블 너비를 100%로 설정 */
	}

	.expiredData .WrittenForm th,
	.expiredData .WrittenForm td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
	}
	.expiredData .WrittenForm th {
    background-color: rgb(111, 167, 235);
    position: sticky;
    top: 0;
    color: white;
    text-align: center;
	font-size: smaller;
    z-index: 2; /* 헤더가 다른 요소 위에 오도록 설정, 추가 */
	}

	.expiredData .WrittenForm .datasize {
    text-align: center;
	}
	
	.inputArea {
	margin: 10px 0px 0px 0px;
	width: 90%;
    position: relative;
	}
	
	.inputArea img {
	    position: absolute;
	    margin-bottom: 50px; /* 이미지들의 상단 여백 */
	    margin-left: 40%;
	    display: inline-block;
	}
	
	.inputArea #btn:hover{
		background-color: gray;
		color: white;;
	}
	
	.inputArea .input-btn {
		width: 200px;
		height: 50px;
		border-radius:5px;
		font-size:18px;
		transition: all 0.3s ease;
	    margin-bottom: 25px;
	    margin-left: 88%;
	    display: inline-block;
	    vertical-align: middle;
	}
}
/* 위에 여기여기 */
@media only screen and (min-width: 1537px) {
	.Content-Wrapper-OutAside {
    display: flex; /* Flex 컨테이너 설정 */
	}
	
/* 	#Out_SideMenu li { */
/* 	    font-weight: bold; */
/* 	    list-style: none; */
/* 	    margin-left: 20px; */
/* 	    margin-top: 10px; */
/* 	} */
	#Out_SideMenu .plantCode,
	#Out_SideMenu .StorageCode,
	#Out_SideMenu .movCode {
    text-align: center;
    width: 60px;
    margin-left: 20px;
	}

	#Out_SideMenu .plantDes,
	#Out_SideMenu .StorageDes,
	#Out_SideMenu .movDes,
	#Out_SideMenu .Doc_Num,
	#Out_SideMenu .Out_date,
	#Out_SideMenu .User_Id {
	    text-align: center;
	    background-color: #ddd;
	    width: 150px;
	    margin-left: 20px;
	}
	
	.output-main-info {
	    border: 1px solid #000;
	    margin-top: 50px;
	    padding-left: 10px; 
	    padding-top: 30px;
	    padding-bottom: 15px;
	    width: 80%;
	}
	.output-sub-info {
	    border: 1px solid #000;
	    padding-left: 10px; 
	    padding-top: 30px;
	    padding-bottom: 30px;
	    width: 95%;
	    border-radius: 10px;
	}
	.output-sub-info > .table-container {
	width: 52%;
	margin-left: 21%;
	}
	
	.output-main-info .table-container .main-table_01 .plantCode{
		width : 100px;
		text-align: center;
	}
	.output-main-info .table-container .main-table_01 .plantDes{
		width : 550px;
		text-align: center;
		background-color: #ddd;
		font-weight: 700;
	}
	.output-main-info .table-container .main-table_01 .StorageCode{
		width : 100px;
		text-align: center;
	}
	.output-main-info .table-container .main-table_01 .StorageDes{
		width : 550px;
		text-align: center;
		background-color: #ddd;
		font-weight: 700;
	}
	.output-main-info .table-container .main-table_01 .User_Id{
		font-weight: 700;
		width: 100px;
		text-align : center;
		background-color: #ddd;
	}
	.output-main-info .table-container .main-table_01 .Out_date{
		font-weight: 700;
		width: 100px;
		text-align : center;
		background-color: #ddd;
	}
	.output-main-info .table-container .main-table_02{
		margin-right: 728px; 
	}
	.output-main-info .table-container .main-table_02 .Doc_Num{
		text-align : center;
	}
	.output-main-info .table-container .main-table_02 .movCode{
		width : 95px;
		text-align : center;
	}
	.output-main-info .table-container .main-table_02 .movDes{
		width : 220px;
		text-align : center;
		background-color: #ddd;
		font-weight: 700;
	}
	.output-sub-info .table-container .sub-table-01 .GINo{
		width : 60px;
		text-align : center;
	}
	.output-sub-info .table-container .sub-table-01{
		margin-left: 150px;
	}
	.output-sub-info .table-container .sub-table-02 .MatCode{
		text-align : center;
	}
	.output-sub-info .table-container .sub-table-02 .MatDes{
		width : 603px;
		text-align : center;
		background-color: #ddd;
	}
	.output-sub-info .table-container .sub-table-02{
		margin-left: 173px;
	}
	.output-sub-info .table-container .sub-table-03 .MatLotNo{
		text-align : center;
	}
	.output-sub-info .table-container .sub-table-03 .MakeDate{
		width : 100px;
		text-align : center;
		background-color: #ddd;
	}
	.output-sub-info .table-container .sub-table-03 .DeadDete{
		width : 100px;
		text-align : center;
		background-color: #ddd;
	}
	.output-sub-info .table-container .sub-table-03{
		margin-left : 135px;
	}
	.output-sub-info .table-container .sub-table-04 .Rack{
		width : 100px;
	}
	.output-sub-info .table-container .sub-table-04 .Bin{
		width : 100px;
	}
	.output-sub-info .table-container .sub-table-04{
		margin-left: 160px;
	}
	.output-sub-info .table-container .sub-table-05 .OutCount{
		width : 100px;
		text-align : center;
	}
	.output-sub-info .table-container .sub-table-05 .OrderUnit{
		width : 80px;
		text-align : center;
		background-color: #ddd;
	}
	.output-sub-info .table-container .sub-table-05 .BeforeCount{
		width : 100px;
		text-align : center;
		background-color: #ddd;
	}
	.output-sub-info .table-container .sub-table-05 .BeforeLotNo{
		width : 100px;
		text-align : center;
		background-color: #ddd;
	}
	.output-sub-info .table-container .sub-table-05{
		margin-left: 163px;
	}
	
	.output-sub-info .table-container .sub-table-06 .UseDepart{
		width : 100px;
		text-align : center;
	}
	.output-sub-info .table-container .sub-table-06 .DepartName{
		width : 230px;
		text-align : center;
		background-color: #ddd;
	}
	.output-sub-info .table-container .sub-table-06 .InputStorage{
		width : 100px;
		text-align : center;
	}
	.output-sub-info .table-container .sub-table-06{
		margin-left: 163px;
	}
	.output-sub-info .table-container .sub-table-07{
		margin-left: 140px;
	}
	.output-sub-info .table-container .sub-table-07 .nothing{
		width: 200px;
	}
	/* .datasize{
		text-align : center !important;
	} */
	#OPResgistform, #OrderRegistForm, #MatInputRegistForm {
        margin-top: 50px;
    }
    
	.expiredData {
    height: 680px;
    width: 95%;
    border: 1px solid rgba(111,167,235, .5);
	}
	.expiredData > br {
		display: none;
	}
	.expiredData > .WrittenForm {
    border-collapse: collapse;
    width: 100%; /* 수정: 테이블 너비를 100%로 설정 */
    table-layout: fixed;
	overflow: scroll;
	}
	.WrittenForm_Head{
	display: table;
	width: 100%;
	}
	.WrittenForm_Head th {
    background-color: rgb(111, 167, 235);
    position: sticky;
    top: 0;
    color: white;
    text-align: center;
    z-index: 10; /* 헤더가 다른 요소 위에 오도록 설정, 추가 */
	width: 65px;
	font-size: small;
	font-weight: bold;
	padding: 8px;
	border: 1px solid white;
	}
	.WrittenForm_Body{
	table-layout: fixed;
	display: block;
	width: 100.1%;
	height: 650px;
	max-height: 100%;
	overflow-y: auto;
	}
	.WrittenForm_Body td {
	padding: 8px;
	border: 1px solid #ddd;
	width: 109.3px;
	height: 10px;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	}
	.WrittenForm_Body td:nth-child(2) {
	padding: 0px;
	border: 1px solid #ddd;
	width: 124.3px;
	height: 10px;
	text-align: center;
	font-size: 10px;
	font-weight: bold;
	}
	.WrittenForm_Body td > button.deleteBTN {
	background: rgb(235, 194, 111);
	color: white;
	font-size: small;
	font-weight: bold;
	width: 125px;
	height: 37px;
	border: 1px solid white;
	border-radius: 5px;
	}
	.WrittenForm_Body td > button.deleteBTN:hover {
	background: #0068ff;
	color: #fff;
	border: 1px solid white;
	}
	.WrittenForm_Body td > button.deleteBTN:active {
	background: #0068ff;
	color: #fff;
	border: 1px solid white;
	}
	
	
	.expiredData .WrittenForm .datasize {
    text-align: center;
	}
	
	.expiredData .WrittenForm tbody::-webkit-scrollbar {
    width: 5px;
  	}
  	.expiredData .WrittenForm tbody::-webkit-scrollbar-thumb {
    background-color: #2f3542;
    border-radius: 10px;
  	}
  	.expiredData .WrittenForm tbody::-webkit-scrollbar-track {
    background-color: white;
    border-radius: 1px;
    box-shadow: inset 0px 0px 5px white;
  	}
  	
	.inputArea {
	margin-top: 10px;
	width: 90%;
    position: relative;
	}
	
	.inputArea img {
	    position: absolute;
	    margin-bottom: 50px; /* 이미지들의 상단 여백 */
	    margin-left: 40%;
	    display: inline-block;
	}
	
	.inputArea #btn:hover{
		background-color: gray;
		color: white;;
	}
	
	.inputArea .input-btn {
		width: 200px;
		height: 50px;
		border-radius:5px;
		font-size:18px;
		transition: all 0.3s ease;
	    margin-bottom: 25px;
	    margin-left: 88%;
	    display: inline-block;
	    vertical-align: middle;
	}
}
